www.aquarella.com.pe/Service/ws_clientedniruc/Cons_Cliente1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.consultabata.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.consultabata.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.consultabata.com/">
      <s:element name="ws_update_cliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_ruc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_nombres" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_apepat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_apemat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_telefono" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_tda" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_update_clienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ws_update_clienteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_conscliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_dniruc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_consclienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ws_consclienteResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_persona_reniec">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_dni" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_persona_reniecResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ws_persona_reniecResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_persona_sunat">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_ruc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_persona_sunatResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ws_persona_sunatResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ws_update_clienteSoapIn">
    <wsdl:part name="parameters" element="tns:ws_update_cliente" />
  </wsdl:message>
  <wsdl:message name="ws_update_clienteSoapOut">
    <wsdl:part name="parameters" element="tns:ws_update_clienteResponse" />
  </wsdl:message>
  <wsdl:message name="ws_consclienteSoapIn">
    <wsdl:part name="parameters" element="tns:ws_conscliente" />
  </wsdl:message>
  <wsdl:message name="ws_consclienteSoapOut">
    <wsdl:part name="parameters" element="tns:ws_consclienteResponse" />
  </wsdl:message>
  <wsdl:message name="ws_persona_reniecSoapIn">
    <wsdl:part name="parameters" element="tns:ws_persona_reniec" />
  </wsdl:message>
  <wsdl:message name="ws_persona_reniecSoapOut">
    <wsdl:part name="parameters" element="tns:ws_persona_reniecResponse" />
  </wsdl:message>
  <wsdl:message name="ws_persona_sunatSoapIn">
    <wsdl:part name="parameters" element="tns:ws_persona_sunat" />
  </wsdl:message>
  <wsdl:message name="ws_persona_sunatSoapOut">
    <wsdl:part name="parameters" element="tns:ws_persona_sunatResponse" />
  </wsdl:message>
  <wsdl:portType name="Cons_ClienteSoap">
    <wsdl:operation name="ws_update_cliente">
      <wsdl:input message="tns:ws_update_clienteSoapIn" />
      <wsdl:output message="tns:ws_update_clienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ws_conscliente">
      <wsdl:input message="tns:ws_consclienteSoapIn" />
      <wsdl:output message="tns:ws_consclienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ws_persona_reniec">
      <wsdl:input message="tns:ws_persona_reniecSoapIn" />
      <wsdl:output message="tns:ws_persona_reniecSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ws_persona_sunat">
      <wsdl:input message="tns:ws_persona_sunatSoapIn" />
      <wsdl:output message="tns:ws_persona_sunatSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Cons_ClienteSoap" type="tns:Cons_ClienteSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ws_update_cliente">
      <soap:operation soapAction="http://www.consultabata.com/ws_update_cliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_conscliente">
      <soap:operation soapAction="http://www.consultabata.com/ws_conscliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_persona_reniec">
      <soap:operation soapAction="http://www.consultabata.com/ws_persona_reniec" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_persona_sunat">
      <soap:operation soapAction="http://www.consultabata.com/ws_persona_sunat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Cons_ClienteSoap12" type="tns:Cons_ClienteSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ws_update_cliente">
      <soap12:operation soapAction="http://www.consultabata.com/ws_update_cliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_conscliente">
      <soap12:operation soapAction="http://www.consultabata.com/ws_conscliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_persona_reniec">
      <soap12:operation soapAction="http://www.consultabata.com/ws_persona_reniec" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_persona_sunat">
      <soap12:operation soapAction="http://www.consultabata.com/ws_persona_sunat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Cons_Cliente">
    <wsdl:port name="Cons_ClienteSoap" binding="tns:Cons_ClienteSoap">
      <soap:address location="http://10.10.10.208/web_site_cliente/Cons_Cliente.asmx" />
    </wsdl:port>
    <wsdl:port name="Cons_ClienteSoap12" binding="tns:Cons_ClienteSoap12">
      <soap12:address location="http://10.10.10.208/web_site_cliente/Cons_Cliente.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>